* {
   margin: 0;
   padding: 0;

}

#lucht{
   
   height: 50vh;
   background-color: lightblue;

}

#grond{
   
   height: 50vh;
   background-color: green;
}


/* Boom */
.boom{
   position: absolute;
   bottom: 80px;
   left: 60px;
   animation: 
}

@keyframes tree{
  0% {left: 0; bottom: 0}
}
.boom #stam{
   position: relative;
   height: 300px;
   width: 50px;
   background-color: rgb(139,69,19);
   left: 35px;
   top: -85px;
}

.boom #blaadjes{
   z-index: 1;
   position: relative;
   border-radius: 100%;
   height: 200px;
   width: 200px;
   background-color: darkgreen;
   left: -40px;
   bottom: 80px;

}

/* Huis */
.huis {
  position: absolute;
  left: 300px;
  top: 100px;




}

#dak {
  z-index: 1;
  position: relative;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid red;

}

#huisbasis {
  width: 200px;
  height: 300px;
  background-color: blue;
  position: absolute;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

#plaffond1 {
  position: absolute;
  background-color: #000;
  width: 200px;
  height: 5px;
}

#bovenraam {
  position: absolute;
  border: 2px solid #000;
  width: 80px;
  height: 120px;
  background-color: #96d5ff;
  right: 10px;
  top: 10px;
}

#balcony1{
  width: 80px;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 50px;
}

#balcony2 {
  width: 3px;
  height: 50px;
  background-color: #000;
  position: absolute;
}

#plaffond2 {
  position: absolute;
  background-color: #000;
  width: 200px;
  height: 3px;
  bottom: 150px;
}

#schoorsteen {
  width: 50px;
  height: 70px;
  background-color: #000;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#deur {
  width: 40px;
  height: 95px;
  background-color: brown;
  position: absolute;
  bottom: 0;
}

#klink {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background-color: #000;
  bottom: 50px;
  left: 30px;
}

#bel {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
  left: 50px;
  bottom: 60px;
}
#raam {
  width: 80px;
  height: 80px;
  background-color: #96d5ff;
  position: absolute;
  right: 20px;
  bottom: 35px;
  border: 3px solid #000;
}

.huis:hover ~ .creator {
  opacity: 1;
}

#bus:hover ~ .creator2 {
  opacity: 1;
} 

.boom:hover ~ .creator3 {
  opacity: 1;
}

.creator {
  opacity: 0;
  right: -550px;
  top: -400px;
  width: 120px;
  height: 20px;
  background: black;
  position: relative;
}

.creator:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -3Px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid black;
   border-bottom: 13px solid transparent;
}

.creator2 {
  opacity: 0;
  right: -550px;
  top: -400px;
  width: 120px;
  height: 20px;
  background: black;
  position: relative;
}

.creator2:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -3Px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid black;
   border-bottom: 13px solid transparent;
}

.creator3 {
  transform: rotate(-30deg);
  opacity: 0;
  right: -220px;
  top: -700px;
  width: 120px;
  height: 20px;
  background: black;
  position: relative;
}

.creator3:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -3Px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid black;
   border-bottom: 13px solid transparent;
}

.creator p {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.creator2 p {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.creator3 p {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#bus{
  transition: ease-in-out 3s;
  background-color: blue;
  width: 800px;
  height: 270px;
  position:absolute;
  border-radius: 20px;
  bottom: 200px;
  left: -1000px;
  z-index: 5;

}
#wheel1{
  background-color: #BFBFBF;
  border:solid 30px #000000;
  width: 65px;
  height: 65px;
  border-radius: 300px;
  position: absolute;
  left: 70px;
  bottom: -60px;
}

#wheel2{
  background-color: #BFBFBF;
  border:solid 30px #000000;
  width: 65px;
  height: 65px;   border-radius: 300px;
  position: absolute;
  left: 600px;
  bottom: -60px;

}

#window1{
  background-color: #dddddd;
  width: 180px;
  height: 120px;
  position: absolute;
  border-radius: 30px;
  left: 15px;
  bottom:130px;
}

#window2{
  background-color: #dddddd;
  width: 180px;
  height: 120px;
  position: absolute;
  border-radius: 30px;
  left: 210px;
  bottom: 130px;
}

#window3{
  background-color: #dddddd;
  width: 180px;
  height: 120px;
  position: absolute;
  border-radius: 30px;
  left: 405px;
  bottom: 130px;
}

#frontglass{
  background-color: #dddddd;
  width: 150px;
  height: 125px;
  position: absolute;
  left: 650px;
  bottom: 130px;
  }
  
  #scorebox{
    border: 2px black solid;
    height: 200px;
    width: 200px;
  }